bpy==5.2.0
imageio==2.27.0
Imath==0.0.2
lxml==6.0.2
mathutils==5.1.0
matplotlib==3.11.0
mediapy==1.2.7
numpy==1.25.2
open3d==0.18.0
opencv_python==4.11.0.86
OpenEXR==3.4.13
Pillow==12.3.0
plyfile==1.1.4
pointops==0.0.0
pytorch3d==0.7.3
scikit_learn==1.9.0
scipy==1.18.0
setuptools==69.0.3
tensorboardx==2.6.5
torch==1.13.1+cu117
torchvision==0.14.1+cu117
tqdm==4.67.1
trimesh==4.9.0
urllib3==2.7.0
